
<ion-content [fullscreen]="true" class="animate__animated animate__slideInDown">
    
  <ion-img class="py-5 mt-5" src="assets/widoctor.png"></ion-img>

  <div class="row ion-text-justify justify-content-center">
    <p class="text px-5">A partir de um trabalho feito originalmente nos EUA, que nós adaptamos para o Brasil, foi pesquisada a opinião de médicos de diferentes especialidades, onde eles mesmo deram notas em relação a algumas características de suas especialidades.
    O teste foi montado em cima disso, com um tratamento matemático onde comparamos a importância que você daria para cada um desses itens (ex. ganhos financeiros, tempo livre, status etc.) com as opiniões dos especialistas que participaram da pesquisa.
    Quanto maior for a semelhança entre suas notas e as notas dadas por aqueles especialistas, mais próximo você está daquela especialidade. Assim, não existe gabarito para o teste, mas sim uma comparação de prioridades.
    </p>
    <button class="btn btn-danger px-4 mb-3" (click)="navigate()">Iniciar Teste</button>
  </div>
  
</ion-content>
