
<ion-content [fullscreen]="true" class="animate__animated animate__fadeIn">
  <div class="ml-4 mt-5 mb-3">
    <h1 id="h">Teste</h1><h1 id="hh"> Vocacional</h1>
  </div>
  <div class="row ion-text-justify px-5">
    <p>As perguntas que muitas vezes o estudante de Medicina se faz: - Qual é a especialidade da minha vida? E como vou descobrí-la? Talvez não tenham uma resposta absolutamente correta.
      Não acreditamos que exista a "especialidade de nossas vidas", mas sim que existam várias especialidade nas quais gostaríamos de trabalhar.
      A escolha deve sempre levar em consideração nossas aptidões, nossa personalidade, nossas características individuais, assim como o tipo de atividade que a especialidade envolve no seu cotidiano.
      Por isso é fundamental que na hora da escolha da especialidade os alunos conheçam as caracteristicas delas e qual é o tipo de vida que aquele especialista normalmente leva.
      Deve então tentar correlacionar o perfil da especialidade com o seu próprio perfil de personalidade e de comportamente e com suas próprias habilidades especificas.
      Levando isto em conta e também considerando que a especialidade de sua vida pode não ser uma só, mas várias, acreditamos que no momento da decisão você deva considerar também o mercado de trabalho, ou seja a possibilidade de conseguir um salário justo pelo que faz.
      Levando tudo isso em consideração é que desenvolvemos este teste com o objetivo primorial de alinhar o perfil das especialidades com o seu perfil pessoal.
    </p>
    <a href="../teste" class="btn btn-outline-danger px-3 mb-3">Prosseguir</a>
  </div>

</ion-content>
