
<ion-content [fullscreen]="true" class="animate__animated animate__fadeInRight">
  <div class="ml-4 mt-5 mb-3">
    <h1>Histórico</h1>
  </div>

  <div id="histo">
    <ion-card *ngFor="let c of card.slice().reverse(); let i;">
      <ion-card-header>
        <p>{{c[0].titulo}}</p>
      </ion-card-header>
      <ion-card-content>
        <table class="table table-borderless">
          <tr>
            <td><strong>Especialidade</strong></td>
            <td><strong>Probalidade de acerto</strong></td>
          </tr>
          <tr>
            <td>{{c[0].teste[0].name}}</td>
            <td>{{c[0].teste[0].valor}}%</td>
          </tr>
        </table>
        <div class="row">
          <div class="col-4">
            <h6 class="h1" style="font-size: 30px">...</h6>
          </div>
          <div class="col-8 row justify-content-end">
            <button class="btn btn-outline-danger" (click)="visualizar(i)">Visualizar</button>
            <button class="btn btn-danger ml-2" (click)="deleteAlert(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="row justify-content-center mb-4">
      <button class="btn d-none" id="clean" (click)="cleanAlert()">Limpar Histórico</button>
      <p id="texto" class="text-secondary">Histórico vazio</p>
    </div>
  </div>

  <div id="oneHisto" class="d-none">
    <ion-card>
      <div id="tabela">
        <table class="table" id="pdf">
          <tr>
            <td><strong>Especialidade</strong></td>
            <td><strong>Probalidade de acerto</strong></td>
          </tr>
          <tr *ngFor="let c of cardHisto">
            <td>{{c.name}}</td>
            <td>{{c.valor}}%</td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-center m-4">
        <button class="btn btn-outline-danger" (click)="voltar()">Voltar</button>
        <button class="btn btn-danger ml-5" (click)="share()">
          <fa-icon [icon]="faDownload"></fa-icon>
        </button>
      </div>
    </ion-card>
  </div>

</ion-content>