#caixa {
    box-shadow: 5px 5px 8px rgba(50, 50, 50, 0.5);
    border-radius: 10px;
}

p {
    font-style: italic;
}

#voltar {
    margin-right: auto;
}

.botao {
    border-radius: 20px;
}

input {
    min-width: 50px
}

span, h1 {
    font-size: 0.9em;
    font-weight: bold;
}

#wi {
    color: #d6271a;
}

#doc, tr {
    color: #31275f;
}

td {
    max-width: 160px;
}
