<div class="row animate__animated animate__slideInLeft">
  <ion-img class="m-5 logo" src="assets/widoctor.png"></ion-img>
</div>
<div class="h-100 row justify-content-center align-items-center animate__animated animate__zoomInDown animate__delay-2s">
  <ion-img src="assets/vocacional.png"></ion-img>
  <a href="/tabs/tab2" class="btn btn-danger px-4">Iniciar</a>
</div>
<div class="row justify-content-end animate__animated animate__slideInRight animate__delay-1s">
  <div class="m-5">
    <h1>MÁRIO <span>NOVAIS</span></h1>
    <h1>ERIC <span>SLAWKA</span></h1>
  </div>
</div>
